<div class="w-screen h-screen flex flex-col justify-center items-center gap-2">
  <form [formGroup]="testForm" #formDir="ngForm" (ngSubmit)="submit()" class="w-1/2 space-y-4 flex flex-col gap-2">
    <gx-input
      [inputClass]="'bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg focus:outline-2 focus:outline-blue-800 block w-full p-2.5'"
      type="text" formControlName="name" name="name" id="name" placeholder="Masukan nama"
      [hasError]="hasError('name')!"></gx-input>
    <gx-input
      [inputClass]="'bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg focus:outline-2 focus:outline-blue-800 block w-full p-2.5'"
      type="email" formControlName="email" name="email" id="email" placeholder="Masukan email"
      [hasError]="hasError('email')!"></gx-input>
    <gx-input
      [inputClass]="'bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg focus:outline-2 focus:outline-blue-800 block w-full p-2.5'"
      type="text" formControlName="rt" name="rt" id="rt" placeholder="Masukan RT"
      [hasError]="hasError('rt')" messagePatternError="Hanya boleh huruf dan angka, tanpa spasi atau simbol."></gx-input>
    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">
      Submit
    </button>
  </form>
</div>